.page.theme_dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --rec-decor-visibility: visible;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --section__title: #ff0070;
  --section__article-text: #f1b2ce;
  --title-decor: #000028;
  --corners-color: #FF0070;
  --menu-color: #FF0070;
  --menu-color-hover: #ff007066;
}
