.page.theme_dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --rec-decor-visibility: visible;
  --section__title: #ff0070;
  --section__article-text: #f1b2ce;
  --title-decor: #000028;
  --corners-color: #FF0070;
  --menu-color: #FF0070;
  --menu-color-hover: #ff007066;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --background-color: #000028;
    --title-color: #db00ff;
    --accent-color: #ff0070;
    --rec-decor-visibility: visible;
    --section__title: #ff0070;
    --section__article-text: #f1b2ce;
    --title-decor: #000028;
    --corners-color: #FF0070;
    --menu-color: #FF0070;
    --menu-color-hover: #ff007066;
  }
} */
