/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --rec-decor-visibility: visible;
  --background-image: url("../images/cover-image.png");
  --background-color: #000028;
  --rec-decor-visibility: visible;
  --section__title: #FF0070;
  --section__article-text: #f1b2ce;
  --title-decor: #000028;
  --corners-color: #FF0070;
  --menu-color: #FF0070;
  --menu-color-hover: #ff007066;
}